*
{
    padding: 0px;
    margin: 0px;
}
html
{
    scroll-behavior: smooth;
}
.navbar
{
    height: 40px;
    background-color: rgb(40, 40, 40);
    text-align: center;
    padding-top: 20px;
    
}
.header
{
    position: sticky;
    top: 0%;
    z-index: 5;
}
.navbar a
{
    margin: 0px 10px;
    color: white;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
}
body
{
    background-color: rgb(40, 40, 40);
}
.container
{
    background-color: black;
    color: white;
    position: relative;
    height: 737px   ;
}
.container img
{
    position: absolute;
    width: 90%;
    left: 10%;
    height: 100%;
    z-index: 0;
}
.container h1,h2,h3
{
    color:white;
    position: absolute;
    z-index: 2;
   
    
}
.container h2
{
    font-family: 'Passions Conflict', cursive;
}
.gradient
{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,black,rgba(0, 0, 0, 0.775));
}
.containpara
{
    padding: 10px 20px;
    color: white;
    text-align: justify;
    line-height: 1.5;

}
.containpara p 
{
    font-size: 1rem;
}
.videohref
{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    position: relative;
    height: 400px;
    border: 2px solid yellow;
}
.link a
{
    color: white;
    text-decoration: none;

}
.link li
{

    margin-top: 10px;
    padding-left: 200px;
    height: 40px;
    align-items: center;
    padding-top: 20px;
    padding-right: 10px;
    border-radius: 0px 10px 10px 0px;
    transition: 0.5s;
}
.link li:hover
{
    background-color: yellow;
}
.link li:hover a
{
    color: black;
}
.link ul{
    list-style: none;
    margin-top: 50px;
}
.link{
    display: block;
}

.videotitle
{
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
.videohref h4
{
    position: absolute;
    top: 50%;
    left: 70%;
    color: white;
    z-index: -1;
}
.writings
{
    margin-top: 50px;
}
.writings h5
{
    color: white;
    font-size: 2rem;
}

.main
{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.book
{
    width: 300px;
    height: 400px;
    background-color: black;
    position: relative;
}
.main img
{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.book:hover img
{
    transform: scale(1.05);
    filter: blur(2px);
}
.black
{
    background: linear-gradient(rgba(0, 0, 0, 0.915),rgba(0, 0, 0, 0.893));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
    color: white;
    transition: 0.5s;

}
.black h3
{
    top: 50%;
    left: 28%;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.book:hover .black
{
    transform: scale(1.06);
    opacity: 1;
}
footer
{
    color: white;
    margin-top: 100px;
    height: 300px;
    align-items: center;
    text-align: center;
    background-color: rgb(27, 27, 27);
}
footer h6
{
    font-size: 2rem;
    margin-bottom: 100px;
}
footer a
{
    color: white;
}
.icon
{
    margin-top: 40px;
}
.icon a img
{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}
